<?xml version="1.0"?>
<configuration>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off" defaultRedirect="ErrorPage.aspx"></customErrors>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151"/>
    <compilation debug="true" targetFramework="4.0">

    </compilation>
  </system.web>
  <!--<system.web>
    <customErrors mode="RemoteOnly"
                  defaultRedirect="OOPS.aspx" />
                  
  </system.web>-->

  <appSettings>
    <add key="FilePath" value="~/Userfiles/"/>
    <!--Mail Settings-->
    <add key="Host" value="webmail.vyshnavi.in" />
    <add key="EMailId" value="naveen@vyshnavi.in" />
    <add key="Password" value="Vyshnavi@321" />
  </appSettings>
  <connectionStrings>
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="EmployeeManagementHandler" preCondition="integratedMode"  verb="GET,HEAD,POST" resourceType="Unspecified" path="EmployeeManagementHandler.axd"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Hide .html ext">
          <match ignoreCase="true" url="^(.*)"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="{R:0}.html"/>
        </rule>
        <rule name="Redirecting .html ext" stopProcessing="true">
          <match url="^(.*).html"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).html"/>
          </conditions>
          <action type="Redirect" url="{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <sessionState timeout="60"></sessionState>
    <httpHandlers>
      <add verb="GET,HEAD,POST" path="EmployeeManagementHandler.axd" validate="false" type="EmployeeManagementHandler"/>
    </httpHandlers>
  </system.web>
</configuration>
